.card-reader-icon{
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: image-url('app_window_black_icon.png');
}

#card-reader-dialog{
  #card-reader-input{
    padding-left: 5px;
    border-bottom: 1px solid white;
    height: 16px;
    width: 250px;
    background-color: white;
    background-image: none;
  }
}

.card-reader {
  .ui-widget-header {
    border: darkcyan;
    background-color: lightBlue;
    background-image: none;
  }
  .ui-widget-content {
    background-color: #EEE;
  }
}
