%html
  %head
    = stylesheet_link_tag :welcome
    = javascript_include_tag :application
    = javascript_include_tag :welcome
  %body
    #header
      = t("view.welcome.title")
      #member-id
    #top
      #recommend-actions
    #content
      #left
        #user-info-block
      #right
        #lesson-block
