// Place all the styles related to the admin/schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#schedules {
  padding-top: 0;
  table {
    width: 100%;
    border-top: none;
    border-collapse: collapse;
    border-spacing: 0;
  }
  td, th {
    text-align: center;
  }
}
