- content_for(:stylesheet_links) do
  = stylesheet_link_tag "admin/schedules"

- content_for(:javascript_includes) do
  = javascript_include_tag "admin/schedules"

#schedules-container
  =render :partial => "show"
