// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";
@import "compass";

$background-color: #FDFDFA;
$container_width: 940px;

@mixin block {
  @include border-radius;
  min-height: 10px;
  padding: 15px 5px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #EDEDED;
  border-bottom: 1px solid #E3E3E3;
}
body{
  background-color: $background-color;
}
.clear {
  clear: both;
  height: 0;
}

#container{
  width: $container_width;
  max-width: $container_width;
  margin-left: auto;
  margin-right: auto;
  #header{
    .company-name {
      font-size: 50px;
    }
    #member-id {
      margin-top: 20px;
      width: 300px;
      height: 20px;
      float: right;
      border: 1px solid gray;
      color: gray;
      background-color: white;
      font-size: 14px;
      line-height: 20px;
    }
    #member-id.empty {
      color: #e3e3e3;
    }
  }
  #content {
    @include block;

    #avatar-wrapper {
      float: left;
      padding: 5px 5px;
      background-color: white;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      margin-left: 20px
    }

    #info {
      margin-left: 200px;
      min-height: 150px;
    }

    #board {
    }

    #welcome-info {
      border-bottom: 1px solid #eee;
      padding: 0px 0px 0px 20px;
      .name {
        font-size: 80px;
        letter-spacing: 10px;
        margin-top: 10px;
      }
      .gender {
        margin-left: 40px;
        color: gray;
      }
      .greeting {
        color: gray;
      }
    }

    ul#notification {
      margin-top: 30px;
      padding-left: 20px;
      font-size: 15px;
      line-height: 20px;
      li.info {
        font-size: 15px;
        color: lightgreen;
      }
      li.important {
        font-size: 17px;
        color: red;
      }
    }
  }
}
