// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";
@import "compass";

$background-color: #FDFDFA;
$container_width: 940px;

@mixin block {
  @include border-radius;
  min-height: 10px;
  padding: 15px 5px;
  margin-bottom: 10px;
  background-color: #F8F8F6;
  border: 1px solid #EDEDED;
  border-bottom: 1px solid #E3E3E3;
}

@mixin info_list($name_width) {
  dl {
    dt, dd{
      line-height: 30px;
    }
    dt {
      float: left;
      width: $name_width;
      overflow: hidden;
      clear: right;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
    }
    dd {
      margin-left: $name_width + 10;
    }
  }
}
body{
  background-color: $background-color;
}

#container{
  width: $container_width;
  max-width: $container_width;
  margin-left: auto;
  margin-right: auto;
  #header{
    .company-name {
      font-size: 50px;
    }
    #member-id {
      margin-top: 20px;
      width: 300px;
      height: 20px;
      float: right;
      border: 1px solid gray;
      color: gray;
      background-color: white;
      font-size: 14px;
      line-height: 20px;
    }
    #member-id.empty {
      color: #e3e3e3;
    }
  }
  #top {
    margin-bottom: 5px;
    ul#recommend-actions {
      @include border-radius;
      border: 1px solid #F88C03;
      list-style: none;
      margin: 0px;
      padding: 3px 8px;
      background-color: #FFE83A;
      li {
        font-size: 10px;
        padding: 3px 0px 3px 5px;
        border-top: 1px solid #F88C03;
        color: FF9500;
      }
      li.first {
        border-top: none;
      }
    }
  }
  #content {
    #left{
      float: left;
      width: 400px;
      #user-info-block {
        @include block;
        .avatar {
          float: left;
          padding: 0px 10px;
        }
        .info {
          font-size: 15px;
          margin-left: 150px;
          min-height: 130px;
          @include info_list( 50px);
        }
      }
      #membership-block {
        @include block;
        @include info_list( 180px);
      }
    }
    #right {
      margin-left: 410px;
      #lesson-block {
        @include block;
        @include info_list( 150px);
      }
    }
  }
}
